@media (max-width: 600px) {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    .container {
        padding: 2vh 3vw;
        gap: 5vh;
        min-width: 400px;
        max-width: 600px;
    }
    
    .container>div:first-of-type {
        color: #858D8B;
        font-size: 1.6rem;
        margin-top: 3vh;   
    }
    
    .container>div:nth-of-type(2) {
        width: 70%;
        font-size: 2.5rem;
    }
    
    .information {
        display: flex;
        flex-flow: row nowrap;
        width: auto;
        justify-content: flex-start;
        gap: 6vw;
    }
    
    .information>div:first-of-type {
        width: 96px;
    }
    
    .information>div:first-of-type img {
        width: 100%;
    }
    
    .inform-text{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        flex-grow: 0;
        flex-shrink: 1;
        gap: 3vw;
        margin-left: auto;
    }
    
    .inform-text>div {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: center;
        width: calc(50% - 3vw);
    }
    
    .inform-text>div:last-of-type {
        order: -1;
    }

    .inform-text>div:nth-of-type(odd) {
        margin-left: auto;
    }

}